@font-face {
    font-family: 'Gulfs Display Normal';
    src: url('font/GulfsDisplay-Normal.eot');
    src: local('Gulfs Display Normal'), local('GulfsDisplay-Normal'),
        url('font/GulfsDisplay-Normal.eot?#iefix') format('embedded-opentype'),
        url('font/GulfsDisplay-Normal.woff2') format('woff2'),
        url('font/GulfsDisplay-Normal.woff') format('woff'),
        url('font/GulfsDisplay-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #fcb1cb;
    font-family: 'Gulfs Display Normal';
    font-weight: normal;
    font-style: normal;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}

.nav-item img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    min-height: 1200px;
    position: relative;
    background: linear-gradient(to bottom, #fcb1cb 60%, yellow 30%);
    overflow: hidden;
}


.contenedor-principal1 {
    display: flex;
    flex-direction: column;
    min-height: 1200px;
    position: relative;
    background: linear-gradient(to bottom, #fcb1cb 60%, yellow 30%);
    overflow: hidden;
}
.mitadsuperior {
    flex:1;
    display: flex;
    color: blue;
    font-size: 50px;
    font-family: 'Gulfs Display Normal';
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    flex: none;
    height: 80vh;
}

.mitadinferior {
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
}

.imagen-superpuesta {
    top: 45%;
    width: 30%;
    height: 100%;
    align-content: center;
    position: absolute;
    z-index: 2;
    border: 1px solid black;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.texto-superpuesto {
    position: absolute;
    z-index: 10;
    color: blue;
    font-size: 110px;
    font-family: 'Gulfs Display Normal';
    text-align: center;
    line-height: 90px;
    top: 15%;
}



.simboloazul {
    top: 41%;
    width: 8%;
    height: 450px;
    align-content: center;
    position: absolute;
    z-index: 1;
    margin-left: 30.7%;
}

.simbolorosa {
    top:50%;
    align-content: center;
    position: absolute;
    z-index: 1;
    height: 22%;
    margin-left: 70%;
}

.chicasola {
    top: 12%;
    align-content: center;
    position: absolute;
    z-index: 1;
    width: 18%;
    height: 35%;
    margin-left: 80%;
    border-radius: 30px;
    border: 1px solid black;
}


.imagenizquierdapareja {
    top: 40%;
    width: 15%;
    height: 400px;
    align-content: center;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.estrella1 {
    top: 40%;
    align-content: center;
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 7%;
    margin-left: 25%;
}

.estrella2 {
    top: 20%;
    align-content: center;
    position: absolute;
    z-index: 1;
    width: 10%;
    height:3%;
    margin-left: 12%;
}

.estrella3 {
    top: 47%;
    align-content: center;
    position: absolute;
    z-index: 1;
    width: 10%;
    height:4%;
    margin-left: 63%;
}


.adorno1 {
    top: 35%;
    align-content: center;
    position: absolute;
    z-index: 1;
    width: 10%;
    margin-left: 73.8%;
}

.holablanco {
    position: absolute;
    width: 25%;
    top: 10px;
    left:48%;
    z-index: 3; 
}

.holablanco1 {
    position: relative; 
    width: 90%;
    height: 90%;
}


.texto {
    position: absolute;
    width: 30%;
    top: 300px;
    left: 49.5%;
    z-index: 3; 
    font-family: "Anybody"

}

.texto2 {
    position: absolute;
    width: 30%;
    top: 450px;
    left: 49.5%;
    z-index: 3; 
    font-family: 'Gulfs Display Normal';
    font-size: 25px;
}

.anillo {
    position: absolute;
    width: 9%;
    top: 410px;
    left: 66%;
    z-index: 3; 
}

.retrato {
    position: absolute;
    width: 90%;
    top: -70px;
    left:-30%;
    z-index: 3; 
}

.loversislove {
    position: absolute;
    width: 30%;
    top: 8px;
    left: 5%;
    z-index: 3; 
    font-family: 'Gulfs Display Normal';
    font-size: 20px;

}



.estrellanaranja {
    position: absolute;
    width: 7%;
    top: 400px;
    left: 74%;
    z-index: 3; 
}

.puntosesqu1 {
    position: absolute;
    width: 3%;
    top: 0px;
    left: 1%;
    z-index: 3; 
}

.puntosesqu2 {
    position: absolute;
    width: 3%;
    top: 0px;
    left: 94%;
    z-index: 3; 
}

.puntosesqu3 {
    position: absolute;
    width: 3%;
    top:550px;
    left: 1%;
    z-index: 3; 
}

.puntosesqu4 {
    position: absolute;
    width: 3%;
    top:550px;
    left: 94%;
    z-index: 3; 
}

.seccion-galeria {
    width: 100%;
    padding: 0px;
    background-color: #f8f8f8;
    min-height: 900px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.caja-arriba {
    flex: 8; 
    width: 100%;
    background: white;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    border: 2px solid black;
}

.caja-abajo {
    flex: 2; 
    background-color: orangered;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

.cuadrados-superpuestos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 20px 20px 20px 0;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 2;
}

.cuadrado {
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    border-radius: 50px;
    overflow: hidden;
}


.cuadrado.a {
    grid-column: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -20px;
}

.cuadrado.b {
    grid-column: 2;
}

.cuadrado.c {
    grid-column: 3 / span 2;
}

.cuadrado.d {
    grid-column: 5;
}

.cuadrado.e {
    grid-column: 6;
    margin-right: -20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



.cuadrado.f {
    grid-column: 1 / span 2; 
}

.cuadrado.g {
    grid-column: 3; 
}

.cuadrado.h {
    grid-column: 4 / span 2; 
}

.cuadrado.i {
    grid-column: 6; 

    margin-right: -20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



.cuadrado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion-nosotros {
    width: 100%;
    padding: 0px;
    background-color: yellow;
    min-height:650px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.seccion-precios {
    width: 100%;
    padding: 0px;
    background-color: #f8f8f8;
    min-height: 900px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cuadrados-precios {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-template-areas:
        "s1 s1 s2 s3 s4"
        "s5 s5 s2 s3 s4"
        "s6 s7 s7 s8 s8"
        "s6 s7 s7 s9 s9";


    box-sizing: border-box;
    pointer-events: none;
    z-index: 2;
}


.s1 { grid-area: s1; }
.s3 { grid-area: s3; }
.s4 { grid-area: s4; }
.s5 { grid-area: s5; }
.s6 { grid-area: s6; }
.s7 { grid-area: s7; }
.s8 { grid-area: s8; }
.s9 { grid-area: s9; }

.s2 {
    grid-area: s2;
    background-color: yellow;
    position: relative;
    overflow: hidden;
}


.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9 {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    overflow: hidden;
}


.s1 , .s2 , .s3 , .s4 , 
.s5 , .s6 , .s7 , .s8 , 
.s9  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s1, .s5, .s9  {
    background-color: pink;
}


.s2, .s6  {
    background-color: yellow;
}

.s4  {
    background-color: rgb(80, 80, 209);
}


.s7  {
    background-color: black;
    position: relative;
}


.s8  {
    background-color: orangered;
}

.construye-text{
    color: rgb(255, 121, 72);
    font-family: 'Gulfs Display Normal';
    font-size:400%;
    align-items: center;
    margin-left:10%;
    line-height:80%;
}

.s1 {
    justify-content: left; 
    align-items: center;    
    text-align: left;
}

.mundo {
    margin-top: 10%;
    width: 60%;
    position: relative;
    z-index: 1;
    position: static;
}

.texto-mundo {
    color: white;
    font-family: 'Gulfs Display Normal';
    font-size: 200%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 2;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    display: inline-flex; 
    align-items: center; 
    gap: 10px;
}

.seccompro {
    color: rgb(255, 121, 72);
    font-family: 'Gulfs Display Normal';
    font-size: 200%;
    position: absolute;
    left: 13%;
    top: 10%;
    z-index: 2;
    margin: 0;
    display: inline-flex; 
    align-items: center; 
    gap: 10px;
    text-align: center;
}



.texto-mundo .icono-lugar {
    width: 1em; 
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    color: white;
}


.seccompro .icono-lugar {
    width: 1em; 
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 121, 72);
}

.seccion-contrato {
    width: 100%;
    padding: 0px;
    background-color: #f8f8f8;
    min-height: 900px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}